<br>
<% if user_signed_in? %>
<div class="container">
  <h1>Усі жанри</h1>
  </p><%= link_to 'Повернутися до оголошень', home_path %></p></p>
  <ul>
    <% @genres.each do |genre| %>
      <li><%= link_to genre.title, genre_path(genre) %></li>
    <% end %>
  </ul>
  <%= link_to 'Додати новий жанр', new_genre_path %>
</div>
<% else %>
  <h1>Увійдіть до аккаунту!</h1>
<% end %>