<br>
<div class="container">
  <h1>Список усіх авторів</h1>
  </p>
  <%= link_to 'Повернутися до оголошень', home_path %></p>
</div>

<% if user_signed_in? %>
  <div class="container">
    <ul>
      <% @authors.each do |author| %>
        <li><%= link_to author.name, author_path(author) %></li>
      <% end %>
    </ul>
    <%= link_to 'Додати нового автора', new_author_path %>
  </div>
<% else %>
  <h1>Увійдіть до аккаунту!</h1>
<% end %>