<br>
<div class="container">
<% if user_signed_in? %>
  <h1>Ім'я автора: <%= @author.name %></h1>
<% else %>
  <h1>Увійдіть до аккаунту!</h1>
<% end %>

  <%= link_to 'Повернутися до списку авторів', authors_path, class: "btn btn-outline-dark" %><br>
  <% if user_signed_in? %>
    <%= link_to 'Змінити автора', edit_author_path, class: "btn btn-outline-dark"%>
    <%= button_to "Видалити автора", @author, method: :delete %>
  <% end %>
</div>