<div class="welcome-message">
  <h1>Добро пожаловать в нашу библиотеку!</h1>
  <p>Мы рады предложить вам широкий выбор книг по различным тематикам и жанрам. У нас вы найдете как классические произведения, так и новинки современной литературы.</p>
</div>