<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Особистий кабінет</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
<nav class="navbar sticky-top navbar-light bg-dark bg-opacity-60">
  <div class="container-fluid justify-content-center">
    <div class="d-flex">
      <form action="/books" method="get" class="me-2">
        <input type="hidden" name="all" value="true">
        <button class="btn btn-outline-light ms-2" type="submit">Головна сторінка</button>
      </form>
      <form action="/cabinet" method="get" class="me-2">
        <input type="hidden" name="all" value="false">
        <button class="btn btn-outline-light ms-2" type="submit">Особистий кабінет</button>
      </form>
      <form action="/createAdvert" method="get" class="me-2">
        <input type="hidden" name="all" value="false">
        <button class="btn btn-outline-light ms-2" type="submit">Створити оголошення</button>
      </form>
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<br>
<div class="container border border-dark border-2 rounded-3" style="--bs-border-opacity: .6;">
  <div class="row p-3">
    <div class="col">
      <div class="row">
        <h4>Логін:</h4>
      </div>
      <div class="row">
        <h4>Пошта:</h4>
      </div>
      <div class="row">
        <h4>Ім'я:</h4>
      </div>
      <div class="row">
        <h4>Місто:</h4>
      </div>
      <div class="row">
        <h4>Номер телефону:</h4>
      </div>
      <pre>
      </pre>
      <div class="row">
        <form action="/editProfile" method="get" class="me-2">
          <input type="submit" class="btn btn-outline-dark w-100" value="Редагувати аккаунт">
        </form>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h4>abcdef</h4>
      </div>
      <div class="row">
        <h4>abcd@gmail.com</h4>
      </div>
      <div class="row">
        <h4>Не вказано</h4>
      </div>
      <div class="row">
        <h4>Не вказано</h4>
      </div>
      <div class="row">
        <h4>Не вказано</h4>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <img src="assets/images/placeholder.jpg" style="width:250px;height:250px;">
      </div>
    </div>
  </div>
</div>

<br />
<div class="container border border-dark border-2 rounded-3" style="--bs-border-opacity: .6;">
  <div class="row p-3 border-bottom border-dark border-2" style="--bs-border-opacity: .6;">
    <h3 class="text-center">Список оголошень</h3>
  </div>
  <!-- Тут треба буде зробити цикл -->
  <div class="row p-3 border-bottom border-dark border-2" style="--bs-border-opacity: .6;">
    <div class="col col-lg-2">
      <img src="assets/images/placeholder.jpg" style="width:150px;height:175px;">
    </div>
    <div class="col text-left">
      <div class="row">
        <h3>Назва оголошення</h3>
      </div>
      <div class="row">
        <div class="col">
          <h6>Автор книги - ХХХ стор.</h6>
        </div>
      </div>
      <div class="row">
        <h5>Опис оголошення</h5>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="row">
        <pre>
        </pre>
      </div>
      <form class="col" action=""><button class="btn btn-outline-dark w-100" type="submit">Редагувати</button></form>
      <div class="row"><p></p></div>
      <form class="col" action=""><button class="btn btn-outline-dark w-100" type="submit">Видалити</button></form>
    </div>
  </div>
</div>
</body>
</html>